</div>
.container.text-center
  %br
  %h2
    How to start?
    %p
    6 steps to success!
  %small create a meaningful conversation at any event
  %br
  %br
  .card
    .row.my-3.py-3
      .col
        %h1
          %span.badge.badge-warning 1
        %h5
          %p.lead Create an Askdemos event
      .col
        %i.fa.fa-mobile{:style => "font-size:200px;color:orange;"}
  %br
  .card
    .row.my-3.py-3
      .col
        %i.fa.fa-users{:style => "font-size:200px;color:orange;"}
      .col
        %h1
          %span.badge.badge-warning 2
        %h5
          %p.lead
            Invite participants
          %small 
            No installations or downloads required.
  %br
  .card
    .row.my-3.py-3
      .col
        %h1
          %span.badge.badge-warning 3
        %h5
          %p.lead 
            Ask questions
          %small 
            Participants compose questions at their own pace, anonymously or identified.
      .col
        %i.fa.fa-question{:style => "font-size:200px;color:orange;"}
  %br
  .card
    .row.my-3.py-3
      .col
        %i.fa.fa-thumbs-up{:style => "font-size:200px;color:orange;"}
      .col
        %h1
          %span.badge.badge-warning 4
        %h5
          %p.lead
            Vote on questions
          %small
            Participants vote on questions that resonate. 
  %br
  .card
    .row.my-3.py-3
      .col
        %h1
          %span.badge.badge-warning 5
        %h5
          %p.lead Instant feedback
          /%p.lead Gather instand feedback from your audience!
          %small Show participants an interactive and real-time projection of questions as votes are cast and questions are answered.
      .col
        %i.fa.fa-tv{:style => "font-size:200px;color:orange;"}
  %br
  .card
    .row.my-3.py-3
      .col
        %i.fa.fa-microphone{:style => "font-size:200px;color:orange;"}
      .col
        %h1
          %span.badge.badge-warning 6
        %h5
          %p.lead Answer good questions
          %small Because time is limited, speakers can now prioritise popular questions.
          %p
          %small Bottom of the iceberg: see questons that could have not been asked otherwise.
