%br
.container
  .text-center
    %h5 Privacy Policy
  %small
    %p Last Modified: May 25 2018
    %p Our Privacy Policy indicates how Askdemos collects, processes and transfers your Personal Data while performing the Terms of Services and the Customer Agreement. If you do not accept our Privacy Policy, you will not be entitled to use our Services. If you are in the European Union, Askdemos needs your consent to the terms and conditions of this Privacy Policy before you use our Services.
    %p This Privacy Policy covers Personal Data that Askdemos collects and processes through the Website and the Services. Askdemos is not responsible for how an Organiser or any third party collects or processes Participant’s Personal Data through a Session for its own use.
    %hr
    %h5 Definitions
    %p The terms below, whether used in (1) this Privacy Policy, (2) the Terms of Service and (3) the Customer Agreement , have the following meanings:
    %p “Admin user(s)” means any authorised administrative user of an Organiser that is granted access to the “Admin Panel”.
    %p “Audience Member(s)” means any attendee or audience member of a Session.
    %p “Dashboard user(s)” means any user of the Services who runs and manages a Session on behalf of the entity organising an Event. “Dashboard users” are “Organisers”.
    %p “Dashboard account” means the dashboard where an Organiser will have direct access to setup Askdemos for its/their event(s). An Organiser may grant different types of access to Askdemos to any user it appoints.
    %p “Event” means any event organized by an Organiser using the Services including, but not limited to industry conferences, town halls, workshops, corporate events, political campaign events, classrooms, national television and other events.
    %p “Moderator(s)” means any moderator(s) or speaker(s) of an Event selected by an Organiser. Moderator(s) are included in the definition of “Participant(s)”.
    %p “Organiser(s)” means (i) the “Dashboard user(s)” and (ii) any person or entity on whose behalf such user acts to access and use the Services.
    %p “Participant(s)” means together “Moderator(s)” and “Audience Member(s)”.
    %p “Participant-Organiser Agreement” means any separate understanding a “Participant” has with an “Organiser”.
    %p “Passcode” means a passcode generated on Askdemos (i) by Askdemos to an Organiser and (ii) by an Organiser and provided by the Organiser to a user.
    %p “Personal Data” means, according to European Union regulation n ° 2016/679 “General Data Protection Regulation” or “GDPR” of April 27, 2016, any information that either (i) directly identifies an individual (such as a name, address, telephone number, mobile number or e-mail address) or (ii) indirectly identifies an individual by any technical mean whatsoever (user ID, IP addresses, cookies, web bugs, invisible pixel, fingerprinting, etc.).
    %p “Askdemos” means the Askdemos Website and Service.
    %p “Askdemos Platform” means the “Askdemos” real-time audience engagement platform and the “Dashboard account”.
    %p “Public Site” means the https://askdemos.com web site and its subdomains.
    %p “Responses” means any questions, comments, votes and other similar information posted during a “Session” by a “user” using the Services.
    %p “Services” means the services rendered via the “Website” (“Askdemos Platform” and “Public Site”).
    %p “Session” means the use of the “Askdemos Platform” as part of a session during an “Event”.
    %p “Third Party Social Networking Account” means Facebook account information, or other third-party social networking site account information.
    %p “user(s)” or “you” or “your” means (i) any person that accesses to and uses the “Public Site” (ii) any “Participant” and (iii) any “Organiser”, including Dashboard user(s) and Admin user(s).
    %p “Website” means together the “Askdemos Platform” and the “Public Site”.
    %hr
    %h5 Personal Data Askdemos Collects as “data controller”
    %p Askdemos acts as “data controller” of any of the Personal Data collected and processed through the Services, as described in this Privacy Policy.
    %p Except as stated in this Privacy Policy, Askdemos does not share Personal Data with third parties.
    %p Notwithstanding any provision to the contrary in the Terms of Use or in the Customer Agreement of Askdemos, this Privacy Policy shall be governed by the law of the country of the EU where Askdemos will deliver the Services to a user in the EU. Any litigation relating to the enforcement of such Privacy Policy shall be subject to the jurisdiction of the supervisory authority of the EU member state where Askdemos provides the Services.
    %hr
    %h5 Purposes of the processing of your Personal Data
    %p Askdemos may collect, process and use your Personal Data only for the following purposes (“Purposes”). Any other processing of your Personal Data will be subject to your prior written consent.
    %p Our primary purpose in collecting Personal Data is to provide you with a safe, smooth, efficient, and customized experience in the use of our Services. Such collection of your Personal Data is necessary for Askdemos to render the Services (section 6.1 (b) GDPR) or for the purposes of the legitimate interests pursued by Askdemos (section 6.1 (f) GDPR). This allows Askdemos to provide services and features that most likely meet your needs, and to customize our Services to make your experience safer and easier. Askdemos only collects Personal Data about you that we consider necessary for achieving this purpose (GDPR principle of “minimization”). However, “Personal Data” does not include “aggregated” or “anonymized” / “de-identified” information that cannot be used to personally identify you, directly or indirectly.
    %p Accordingly, Askdemos collects and processes your Personal Data:
    %li to enable us to contact you regarding the Services Askdemos renders directly to you;
    %p When you send e-mail or other communications to Askdemos, we may retain those communications in order to process your inquiries, respond to your requests and improve our Services. When you send and receive messages, we may collect and maintain metadata associated with those messages.
    %li Service-Related Announcements
    %p We will send you strictly service-related announcements on rare occasions when it is necessary to do so. For instance, if our Services are temporarily suspended for maintenance, we might send you a notification e-mail. If you do not wish to receive such service-related announcements, you have the option to deactivate your user account.
    %li Customer Service
    %p Based on the Personal Data which you have provided us, we will send you a welcome e-mail to verify the email address associated with your user account. We will communicate with you in response to your inquiries, to provide the services you request, and to manage your account. We may communicate with you by messages on the Website or by e-mail. We will never contact you by telephone unless you specifically agree to it. You may contact customer support at https://askdemos.com/.
    %li or our internal account handling and business and administrative purposes and to issue invoices, collect fees and process payments (if applicable);
    %p If you purchase or subscribe to a fee-based Service or purchase other products or services from us, we request certain Personal Data from you on our transaction form. We may require you to provide contact information (such as name, e-mail, and shipping address) and financial information (such as a credit card number, expiration date, and account number if paying through a third party payment processing service). We may use an outside credit card processing company to bill or process payments for goods or services. These companies are not permitted to retain, share, store or use Personal Data for any other purposes.
    %p We use this information for billing purposes and to process your orders. If we have trouble processing an order, we will use this information to contact you.
    %li to improve the content and quality of our Services and for internal testing and training purposes;
    %li to improve the security of our information system and to investigate, prevent or take action in relation to illegal activities, suspected fraud, situations involving potential threats to physical safety of any person or violation of this Privacy Policy;
    %li Shared Information in a Session
    %p If you choose to post Responses in a Session, we will collect the information you post. When you submit a message through the Services, if access to such Session is not anonymous as determined by the applicable Organiser, your name may be associated with such Responses. Additionally, any further Personal Data made available to Askdemos pursuant to a login from a Third Party Social Networking Account or through our sign-in form, may be made available to the Organisers and other Participants. Unless we have an agreement to the contrary with the applicable Organiser for the Session, we retain this information as necessary to resolve disputes, provide customer support, and troubleshoot problems.
    %li If you send us personal correspondence, such as e-mails or letters, or if other users or third parties send us correspondence about your activities or postings on our Services, we may collect such information into a file specific to you. We reserve the right to terminate the accounts of users who use these services in a manner inconsistent with theTerms of Service of Askdemos.
    %p When we use the phrase “shared information”, we mean the information you choose to disclose to other Organisers and Participants for a particular Session. By posting information in a Session, you are choosing to make your information available to those Organisers and Participants.
    %li Notice and Take Down Procedures
    %p If you request materials on our Services to be removed because you believe they infringe your copyright, we will ask you to provide your contact details, in particular your name, address, telephone number, and email address, so that we may process your take-down request.
    %hr
    %h5 Registration information
    %p In general, a Participant can access and submit Responses in a Session without registering by simply entering the Passcode provided by the Organiser without providing any Personal Data. However, certain Organisers may require you to enter a unique Passcode that would be linked to your Personal Data before accessing a Session. The Personal Data will be automatically provided by the Organisers to us. Even after assessing a Session where you remain anonymous, Organisers may require your Personal Data before allowing you to participate in a Session. Contact information (such as name and e-mail address) provided should be accurate, complete and up to date.
    %p Askdemos may enable you to share Personal Data with us by connecting with a Third Party Social Networking Account such as your Facebook account. By connecting to our Services with a Third Party Social Networking Account, you authorise to process certain Personal Data about you only to the extent that such Personal Data are necessary for us to render the Services to you (section 6.1 (b) GDPR).
    %p Subject to any written agreement we may have with the applicable Organiser, we may receive and store Personal Data about you, including, but not limited to, your user ID associated with your Third Party Social Networking Account, other information that you have permitted the third-party social network service provider to share with us, and any information you have made public in connection with that third-party service. Your use of any third-party social network service provider is subject to its term of service and privacy policy. You should always review, and if necessary, adjust your privacy settings on social network service providers and other third-party websites and services before linking or connecting them to the Services.
    %p We may combine the Personal Data you submit under your account with information from other services or third parties only for the purpose of (i) providing you with a better experience and (ii) improving the quality of our Services.
    %hr
    %h5 Login credentials for Dashboard users and security
    %p Dashboard users are also required to provide login credentials such as e-mail and password and other Personal Data when creating an account with us. Contact information (such as name and e-mail address) provided should be accurate, complete and up to date. We are not able to read your plain-text password as these are salted and automatically encrypted.
    %hr
    %h5 Type of Personal Data collected and processed
    %li Log Files
    %p Like many websites, Askdemos may automatically gather certain Personal Data about our Website traffic and store it in log files. These Personal Data includes Internet protocol (IP) addresses, browser type, browser language, Internet service provider (ISP), referring/exit pages, operating system of your device, date/time stamp, clickstream data and one or more cookies that may uniquely identify your browser. We use these Personal Data only to analyse trends, to administer the Services, to track users’ activity on our Website and to gather demographic information about our user base.
    %p Askdemos may process these automatically collected Personal Data to troubleshoot access issues and prevent access by users to access Sessions from certain locations.
    %p Askdemos may use a third-party tracking service that uses log files and cookies only to track statistical / non-Personal Data about visitors to the Website in the aggregate. This service captures usage and volume statistics as well as geographical location data to compile usage reports and maps for optimization and troubleshooting purposes.
    %hr
    %li Cookies
    %p A cookie is a small text file that is stored on a user’s computer for record-keeping purposes. We use cookies on our Website. As noted above, we may link the information we store in cookies to any Personal Data you submit while on our Website. This Privacy Policy covers the use of cookies by Askdemos on the Website only for performing the Services we provide to you.
    %p Askdemos may use both ”session ID” cookies and ”persistent cookies”. A ”session ID cookie” expires when you close your browser. We may use session ID cookies to make it easier for you to navigate our Website. We may use cookies for managing your browser and mobile sessions for your convenience. A ”persistent cookie” remains on the hard drive of a device for an extended period of time. You can remove persistent cookies by following directions provided in your Internet browser’s “help” file.
    %p Askdemos may set a persistent cookie to store some of your login credentials, so you do not have to enter your password more than once. Persistent cookies also enable us to track and target the interests of our users only to enhance the experience of your navigation on our Website.
    %p If you reject cookies, you may still use our Website, but your ability to use some areas of our Website may be limited.
    %p This Privacy Policy does not cover the use of cookies by any advertisers or Organisers or any other third parties.
    %hr
    %li Clear Gifs / web beacons / web bugs
    %p Askdemos may use a software technology called clear gifs, also referred to as web beacons or web bugs, that help manage content on our Services by tracking what content is effective. Clear gifs are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of Web users. In contrast to cookies, which are stored on a user’s computer hard drive, clear gifs are embedded invisibly on Web pages and are about the size of the period at the end of this sentence. We may tie the information gathered by clear gifs to our users‘ Personal Data.
    %hr
    %li Embedded script
    %p We may use an embedded script, which is a software that collects Personal Data about your interactions with the Website, such as the links you click on. The software is temporarily downloaded onto your computer or other device from our server or a third party provider and is deactivated or deleted when you disconnect from the Website.
    %b In addition, we may use a variety of other technologies that collect similar Personal Data only for security of our information system, platform or software and fraud detection purposes.
    %hr
    %h5 Duration of storage of your Personal Data
    %p Any Personal Data we collect and process will be stored in our information system for the duration of the Services we render to you and thereafter, for the duration of any statute of limitation of any action legal right or action that may be lodged by any of the parties to this agreement. After such duration, Askdemos will erase your Personal Data.
    %hr
    %h5 Marketing Use of your Personal Data
    %p We use clear gifs in our HTML-based e-mails only to let us know which e-mails users have opened. This allows us to gauge the effectiveness of certain communications and the effectiveness of our marketing campaigns. Such processing of your Personal Data is necessary for the purposes of the legitimate interests pursued by Askdemos (section 6.1 (f) GDPR).
    %p If you register for our Services or login using a Third Party Social Networking Account, we may occasionally send you information on products, services, special deals, and promotions provided by Askdemos. You can sign up for these e-mails from us on our registration page or other parts of the Website or our Services.
    %li Right to object to the processing of Personal Data for marketing purposes, including profiling (section 21 GDPR)
    %p You may opt-out at any time by sending an email to Askdemos or by clicking on this link. Any communication by Askdemos using your Personal Data for marketing purposes will include an active http link to unsubscribe to such direct prospection. By clicking on the unsubscribe link, you will withdraw your consent and all your Personal Data will be erased from our marketing database.
    %li Newsletters
    %p If you have subscribed for the newsletters from the Website, you have expressed a positive consent, we may then use your name and e-mail address only to send you our newsletters.
    %p You may withdraw your consent at any time by sending an email to Askdemos or by clicking on this link. Every newsletter by Askdemos using your Personal Data will include an active http link to unsubscribe to such direct prospection. By clicking on the unsubscribe link, you will withdraw your consent and all your Personal Data will be erased from our newsletter database.
    %hr
    %h5 Third-party cookies
    %p Organisers may incorporate our Website into their own websites, and such portals may place cookies from their affiliates, including advertisers. We have no access to or control over these cookies used on the Organisers’ or third party websites or links. The acceptance and storage of such third party cookies can be managed through your browser’s security settings and is subject to your acceptance of the terms and conditions of use of the relevant Organiser or third party websites.
    %hr
    %h5 Participants Personal Data
    %p This Privacy Policy covers Personal Data that Askdemos collect through the Website and the Services, as well as information that Askdemos collects about an Organiser when that Organiser makes Sessions available to Participants. If an Organiser provides information for display to Moderators and Audience Members through Askdemos, Askdemos is not responsible for how the Organiser, Moderators or Audience Members collect or use such Personal Data. Such collection/processing/use of your Personal Data is to be accepted directly between you and the Organiser, Moderators or Audience Members. Each Participant should always review, and if necessary adjust, his or her privacy settings on any applicable Organiser’s websites and any other third-party websites and services that Participant connects to in connection with the Services of Askdemos.
    %p Askdemos may combine the Personal Data a Participant submits under Participant’s account with information from other services or third parties in order to provide Participants with a better experience and to improve the quality of our Services. For any other purpose of processing/combination of your Personal Data, Askdemos may either inform you in advance of such processing or ask for your prior written consent therefore.
    %p Organisers may communicate with Participants regarding Sessions to the extent such Sessions require Participants to provide Personal Data to participate. Any such communication is from the Organiser and not from Askdemos. Askdemos is not responsible for the content and management of such communications from Organisers.
    %hr
    %h5 Personal Data we share
    %li User Profile
    %p We may store information that Participants provide when in a Session, including our sign-in form, to create a Participant profile which we share with the applicable Organiser, in order to render the Services. Organisers may specify additional constraints and/or parameters of sharing your profile with third parties they are affiliated with under terms and conditions you may accept or decline directly with the relevant Organisers.
    %li Aggregate information (Non-Personally Identifiable)
    %p Askdemos may share aggregated demographic information about our user base with third parties who provide services to Askdemos in connection with the Services. This information does not identify individual users. We will not share aggregated demographic information about the specific user base of Session or about a specific Organiser’s Events unless agreed to by those Organisers.
    %p Askdemos may use such aggregated demographic information internally for its analysis of users’ trends or patterns.
    %li Third-Party Intermediaries acting as “data processors” on behalf of Askdemos
    %p To provide the Services, it may be necessary for Askdemos to use third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology. Whilst using the Services, your Personal Data may travel through such third party infrastructure. We only use such vendors and hosting partners based in the European Union or jurisdictions that provide a similar level of protection of Personal Data to that in the European Union.
    %hr
    %h5 Subprocessor	Purpose	Data
    %li Amazon Web Services	Infrastructure as a Service	Personal data of Organisers and Participants; Responses
    %li Salesforce	Customer Relationship Management	Personal data of Organisers; purchase data excluding credit card; emails
    %li G Suite	Email	Personal data of Organisers; emails
    %li Payment Express	Payment Gateway	Purchase data including credit card information
    %hr
    %h5 Disclosure of your Personal Data
    %p We reserve the right to disclose your Personal Data as required by law within the meaning of section 6.1 (c) GDPR, and when we believe that disclosure is necessary to protect our rights; to comply with a judicial proceeding, court order, or legal process served on us or the Website; or in connection with an actual or proposed corporate transaction or insolvency proceeding involving all or part of the business or asset to which the information pertains.
    %p We may disclose your Personal Data if we are so requested by the law, government agencies or statutory bodies within the European Union, to the extent permitted by GDPR. In particular, we may disclose Personal Data in response to a court order or a subpoena. We may also disclose Personal Data to a law enforcement agency’s request or where we believe it is necessary to prevent, investigate or take action regarding illegal activities or suspected fraud. We may use Personal Data to enforce Askdemos’s rights to resolve claims and disputes, to prevent or take action regarding a breach or intended breach of our Terms of Service, to protect other users, to investigate complaints and to prevent unlawful use of the Askdemos Website and Services.
    %p In the event of a reorganization, merger or acquisition, we may transfer any and all of your Personal Data to the relevant buyer or third party as part of the transaction, provided that the conditions of this Privacy Policy would continue to apply.
    %hr
    %h5 Right to access to your Personal Data (section 15 GDPR)
    %p You have the right to access your Personal Data processed by Askdemos (section 15 GDPR). The exercise of the right to access and receive a copy of your data is free if you exercise it under reasonable conditions. In addition to a complete copy of your Personal Data, Askdemos will also provide you with the complete list of information provided for in section 13 of the GDPR. If your requests are manifestly unfounded or excessive, in particular because of their repeated nature, Askdemos may either refuse to answer you or charge you for the provision of this information.
    %p You may exercise your right to access your Personal Data by email sent to Askdemos or by clicking on this link.
    %hr
    %h5 Right to rectification (section 16 GDPR)
    %p You can at any time ask Askdemos to rectify, as soon as possible, your Personal Data if this data is inaccurate.
    %p You may exercise your right to rectify your Personal Data by email sent to Askdemos or by clicking on this link to access to your User‘s account, so that you can rectify yourself any Personal Data that you deem inaccurate.
    %hr
    %h5 Transparency requirement
    %p If Askdemos does not take action when you exercise your right to access or rectify, Askdemos will inform you without delay and, at the latest, within one month of receipt of your request, of the reasons for not taking action and of the possibility of lodging a complaint with the relevant supervisory authority of your EU country and seeking a judicial remedy.
    %hr
    %h5 Security
    %p Askdemos implements appropriate technical and organisational measures to ensure your Personal Data are adequately protected. Please refer to our Security page here here.
    %p We do not knowingly collect Personal Information from children under the age of 13. If we become aware that a child under the age of 13 has provided us with Personal Information, we will take steps to remove that information and terminate the applicable account.
    %li Safeguarding login information
    %p You are responsible for safeguarding your login credentials such as your username and password combination. Make sure your computer is protected with appropriate antivirus software that includes anti-malware software and make sure you are running up-to-date versions and continually getting updates. Treat your mobile device just like you would your computer.
    %p If you notice suspicious account activity, or if your computer or mobile device is lost or stolen and you believe there is a reasonable chance of misuse of your Askdemos login credentials, please contact us immediately at support@askdemos.com.
    %p If you have any questions about security on our Website, you can e-mail us at security@askdemos.com.
    %li Notification of Personal Data Breach
    %p “Personal Data Breach” means a breach of security leading to the accidental or unlawful destruction, loss, alteration, unauthorized disclosure of, or access to, Personal Data transmitted, stored or otherwise processed by Askdemos.
    %p In case of breach of your Personal Data, Askdemos shall notify such data breach without delay to the relevant Supervisory Authority in the EU. In addition, when the Personal Data breach is likely to result in a high risk to the rights and freedoms of its EU Customers, Askdemos shall inform you of the Personal Data breach without undue delay.
    %hr
    %h5 Changes to our Privacy Policy
    %p If we decide to change our Privacy Policy, we will post changes to this Privacy Policy on the Website and other places we deem appropriate so that you are aware of what information we collect, why the information is collected, how the information is used, and under what circumstances, if any, the information is disclosed. Askdemos may require your prior acceptance of the new version of such Privacy Policy. If you disagree with any revisions or updates of this Privacy Policy, you must immediately terminate your registration with this Website and discontinue your use of this Website and Services.
    %hr
    %h5 Your Consent
    %p By using the Website, you consent to the current version of our Privacy Policy.
    %hr
    %h5 Changes to our Privacy Policy
    %p If we decide to change our Privacy Policy, we will post changes to this Privacy Policy on the Website and other places we deem appropriate so that you are aware of what information we collect, why the information is collected, how the information is used, and under what circumstances, if any, the information is disclosed. Your continued used of the Services after any changes or revisions to this Privacy Policy shall indicate your agreement and consent with the terms of such revised Privacy Policy. If you disagree with any revisions or updates of this Privacy Policy, you must immediately terminate your registration with this Website and discontinue your use of this Website and Services.
    %hr
    %h5 Contact Us
    %p If you have any questions or suggestions regarding our Privacy Policy, please contact us at legal@askdemos.com
    %p Copyright © 2010 - 2018 Askdemos Pte Ltd. All Rights Reserved.
    %p Version: May 25 2018
    
    
    
