.event-container {
  margin-top: 40px;
}

.event-code-container {
  margin: 40px auto;
  width: 300px;
}

.event-code-btn {
  margin-top: 10px;
  float: right;
}

.event-code-header {
  margin-bottom: 30px;
}
