.question {
  background-color: #DCDCDC;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.add-question-submit {
  margin-top: 15px;
  float: right;
}

.question-delete-btn {
  margin-top: 15px;
}

.question-edit-container {
  margin-top: 15px;
}


.fa.custom-fa{
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: orange;
   color: transparent;
 }

