</div>
.text-center
  %h1 Features
.jumbotron.bg-warning
  .text-center
    %h3
      %p Questions at events. Answer meaningful questions!
  %br
  %br
  %br
  %br
  .row
    .col
      .text-center
        %h1 Before
      %h6
        %p Speaker: "Thank you for listening. Have you got any questions?"
        %p Audience: "Silence..."
    .col
      .text-center
        %h1 Askdemos
.jumbotron.bg-warning
  %h4
    %p Live interactive polls. Engage your audience. Present like a rockstar!
