</div>
.jumbotron.bg-warning
  %br
  %br
  .row
    .col-lg
      %h4
        Askdemos helps ask manage questions at events.
        /With Askdemos, speakers can now effectively engage with your audience and answer meaningful questions.
    .col

%h1 Home#index
%p Find me in app/views/home/index.html.haml
