- content_for :title do
  = @event.title
  | Edit
= render 'shared/flash_messages' if flash.any?

.row.event-container
  .col-md-2
  .col-md-8
    .card
      %h2.card-header.bg-warning
        Edit Event
      .card-body
        = render 'form'
