- if @frontend_events_props[:event].present?
  = redux_store('eventStore', props: @frontend_events_props)
  = react_component('EventApp', props: {}, prerender: false)
- else
  %h3 No such event. Please double check Your event code.
