= render 'shared/flash_messages' if flash.any?

.event-code-container
  %h3.event-code-header Please input event code.

  = form_tag 'ask_event', enforce_utf8: false, method: :get do
    .form-group
      = text_field_tag :password, nil, class: 'form-control'
      = submit_tag 'Find', class: 'btn btn-warning event-code-btn', name: nil
