%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} Navbar
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to 'Home', root_path, class: 'nav-link'
      %li.nav-item
        %a.nav-link{ href: '#' } Q&A
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to 'Log In', new_user_session_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
