/ Footer
%footer.page-footer.font-small.stylish-color-dark.pt-4.mt-4
  %hr/
  / Footer Links
  .container.text-center.text-md-left
    / Grid row
    .row
      / Grid column
      .col-md-4.mx-auto
        / Content
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4
          /Footer Content
        %p
          %small
            %br
            © #{Time.now.year} Copyright - Askdemos Ltd. 
            %br
            All rights reserved -
            %a{:href => "http://www.askdemos.com/"} askdemos.com
            %br
            13 Konstruktorska str. 02-651, Warsaw, Poland
            %br
            = mail_to 'hello@askdemos.com'

      / Grid column
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Product
        %ul.list-unstyled
          %li
            %a{:href => "features"} Features
          %li
            %a{:href => "pricing"} Pricing
      / Grid column
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Legal
        %ul.list-unstyled
          %li
            %a{:href => "privacy_policy"} Privacy policy
          %li
            %a{:href => "terms_of_service"} Terms of service
          %li
            %a{:href => "customer_agreement"} Customer agreement
          %li
            %a{:href => "security"} Security
      / Grid column
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 About us
        %ul.list-unstyled
          %li
            %a{:href => "contact_us"} Contact us
          %li
            %a{:href => "jobs"} Jobs
      / Grid column
    / Grid row
  / Footer Links
  %hr/
  / Call to action
  %ul.list-unstyled.list-inline.text-center.py-2
    %li.list-inline-item
      %h5.mb-1 Try now for free!
    = link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-success'

  / Call to action
  %hr/
  / Social buttons
  %ul.list-unstyled.list-inline.text-center
    %li.list-inline-item
      %a.btn-floating.btn-fb.mx-1
        %i.fa.fa-facebook
    %li.list-inline-item
      %a.btn-floating.btn-tw.mx-1
        %i.fa.fa-twitter
    %li.list-inline-item
      %a.btn-floating.btn-gplus.mx-1
        %i.fa.fa-google-plus
    %li.list-inline-item
      %a.btn-floating.btn-li.mx-1
        %i.fa.fa-linkedin
